/* Override some defaults */
html, body {
  background-color: #01171F;
	color: #AAAAAA;
  margin-left: auto;
  margin-right: auto;
}
.navbar {
  margin-bottom: 0;
}

hidden{
	color: #103E4F;
}

h2 {
	font-family: Garamond, serif;
}

h3 {
	font-family: Garamond, serif;
}

hidden-text{
	color: #AAAAAA;
}

hidden > h1 {
	color: #103E4F;
}

footer {
	text-align: center;
}

/* The white background content wrapper */
.content {
  background-color: #01171F;
  color: #BBB;
  padding: 30px 100px 0px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.post-content {
	text-align: left;
}

.post-content > hidden {
	display: none;
}

.disqus_thread {
	font-family: Garamond, serif;
}


.title {
  color:#306E7F;
}

.post-head > a {
	font-size :24px;
	font-family: Garamond, serif;
	text-align: right;
}

.post-head > hidden {
	font-size :20px;
}


a {
  color:#306E7F;
	font-size: 14px;
}

a:hover {
  color: #63A9BC;
  text-decoration:none;
}
.navbar .brand{
	color:#63A9BC;
	font-family: Garamond, serif;
}

.navbar .brand:hover{
	color:#63A9BF;
}

.navbar .nav>li>a {
	color: #306E7F;
	font-size: 18px;
	font-family: Garamond, serif;
}

.navbar .nav>li>a:hover {
	color:#63A9BC;
}

.pagination a:hover,.pagination .active a{
	background-color:#121212;
}


.page-header {
  background-color: #01171F;
	text-align: center;
	font-family: Garamond, serif;
  padding: 20px 0px 10px;
  margin: -20px -20px 20px;
}

.page-header > h1 > small{
  color: #63A9BC;
	font-size: 35px;
}

.page-header > h1{
  color: #63A9BC;
	font-weight: normal;
}
.page-header > h1 > hidden{
  color: #103E4F;
	font-weight: normal;
}

.topbar .btn {
  border: 0;
}


/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}
	